/* common shared style */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.btn-primary{
  background: #E55473;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
}
/* banner section */
.header{
  width: 100%;
  height: 400px;
  background: rgba(229, 84, 115, 0.10);
  
}
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-heading{
  color: #272727;
  font-size: 200px;
  font-weight: 800;
}
.banner-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bnr-img{
  width: 300px;
  height: 350px;
  padding-top: 50px;
  padding-bottom: 0px;
}


/* frature section start */
.feature-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.feature-desc{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.feature-title{
  margin-top: 120px;
  margin-bottom: 20px;
}
.feature-image{
  display: flex;
  padding: 50px 200px 0px;
  justify-content: space-around;
}
.feature-image-1{
  border-radius: 300px 300px 0px 0px; 
  background: rgba(167, 33, 98, 0.15);
  width: 250px;
  height: 300px;
  position: relative;
}
.feature-image-2{
  border-radius: 300px 300px 0px 0px; 
  background: rgba(5, 151, 160, 0.15);
  width: 250px;
  height: 300px;
  position: relative;
}
.feature-image-3{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 250px;
  height: 300px;
  position: relative;
}

.feature-img{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 100px 50px 0px;
  
}

/* secrvice section start */
.service-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  height: 220px;
  margin: 100px 100px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);

}
.service-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-img{
  width: 50px;
  height: 50px;
}
.service-desc{
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
}

/* sale style  */
.sale-section{
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sale-content{
  text-align: center;
  padding-left: 100px;
}

.sale-title{
 color: #272727;
 font-size: 30px;
 font-weight: 800;
 padding-bottom: 12px;
}
.sale-title-span{
  color: #E55473;
}
.sale-desc{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 12px;
}

.sale-img{
  padding-right: 100px;
  width: 200px;
  height: 220px;
}
